.notfound{
    background-color:$noir;
    &__content{
        height:calc(100vh - 81px);
        @include flex($justify:start);
        padding-top:25px;
        padding-bottom:25px;
    }
    &__left{
        max-width:400px;
        h1.h1{
            color:$blanc;
            font-family: 'Calistoga-Regular', sans-serif;
            
        }
        p{
            color:$blanc;
            font-weight:400;
            font-size: 16px;
        }
        a{
            @include button($pd:10px 70px);
        }
    }
    &__text{
        margin:35px 0 35px 0;
    }
    &__ellispe{
        position:absolute;
        border-radius:50%;
        z-index:-1;
        &-1{
            right:-100px;
            bottom:-100px;
            height:500px;
            width:500px;
            background: linear-gradient(180.65deg, #FF910E -250.43%, rgba(36, 30, 30, 0) 84.78%);
        }
        &-2{
            top:100px;
            left:50%;
            height:100px;
            width:100px;
            background: linear-gradient(180.65deg, #FF910E -162.43%, rgba(36, 30, 30, 0) 84.78%);
        }
    }
}